<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/mdsd/external/QuickCheckApi"
			class = "org.xtext.mdsd.external.quickCheckApi.QuickCheckApiPackage"
			genModel = "model/generated/QuickCheckApi.genmodel" />
	</extension>
</plugin>
